<div class="container">
    <div class="row">
        <div class="col">
            <form [formGroup]="loginForm">
                <div class="form-group row" [ngClass]="{
                    'has-danger': loginForm.controls.username.invalid && loginForm.controls.username.dirty, 
                    'has-success': loginForm.controls.username.valid && loginForm.controls.username.dirty 
                }">
                    <label class="col-sm-2 form-control-label">User Name</label>
                    <div class="col-sm-10">
                    <input type="text"
                        class="form-control"
                        placeholder="User Name"
                        formControlName="username"
                        [ngClass]="{
                            'form-control-danger': loginForm.controls.username.invalid && loginForm.controls.username.dirty, 
                            'form-control-success': loginForm.controls.username.valid && loginForm.controls.username.dirty 
                    }">
                    </div>
                </div>
                <div class="form-group row" [ngClass]="{
                    'has-danger': loginForm.controls.password.invalid && loginForm.controls.password.dirty, 
                    'has-success': loginForm.controls.password.valid && loginForm.controls.password.dirty 
                }">
                    <label class="col-sm-2 form-control-label">Password</label>
                    <div class="col-sm-10">
                    <input type="password"
                        class="form-control"
                        placeholder="Password"
                        formControlName="password"
                        [ngClass]="{
                            'form-control-danger': loginForm.controls.password.invalid && loginForm.controls.password.dirty, 
                            'form-control-success': loginForm.controls.password.valid && loginForm.controls.password.dirty 
                    }">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <input type="submit"
                            class="btn btn-primary btn-lg btn-block"
                            value="Login"
                            (click)="doLogin()"
                            [disabled]="!loginForm.valid"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>