
<div class="container">
    <div class="row">
        <div class="col">
            <form [formGroup]="signupForm">
                <div class="form-group row" [ngClass]="{
                    'has-danger': signupForm.controls.first_name.invalid && signupForm.controls.first_name.dirty, 
                    'has-success': signupForm.controls.first_name.valid && signupForm.controls.first_name.dirty 
                }">
                    <label class="col-sm-2 form-control-label">First Name</label>
                    <div class="col-sm-10">
                    <input type="text"
                        class="form-control"
                        formControlName="first_name"
                        placeholder="First Name"
                        [ngClass]="{
                            'form-control-danger': signupForm.controls.first_name.invalid && signupForm.controls.first_name.dirty, 
                            'form-control-success': signupForm.controls.first_name.valid && signupForm.controls.first_name.dirty 
                        }">
                    </div>
                </div>
                <div class="form-group row" [ngClass]="{
                    'has-danger': signupForm.controls.last_name.invalid && signupForm.controls.last_name.dirty, 
                    'has-success': signupForm.controls.last_name.valid && signupForm.controls.last_name.dirty 
                }">
                    <label class="col-sm-2 form-control-label">Last Name</label>
                    <div class="col-sm-10">
                    <input type="text"
                        class="form-control"
                        formControlName="last_name"
                        placeholder="Last Name"
                        [ngClass]="{
                            'form-control-danger': signupForm.controls.last_name.invalid && signupForm.controls.last_name.dirty, 
                            'form-control-success': signupForm.controls.last_name.valid && signupForm.controls.last_name.dirty 
                    }">
                    </div>
                </div>
                <div class="form-group row" [ngClass]="{
                    'has-danger': signupForm.controls.email_init.invalid && signupForm.controls.email_init.dirty, 
                    'has-success': signupForm.controls.email_init.valid && signupForm.controls.email_init.dirty 
                }">
                    <label class="col-sm-2 form-control-label">Email</label>
                    <div class="col-sm-10">
                    <input type="email"
                        class="form-control"
                        formControlName="email_init"
                        placeholder="Email"
                        email="true"
                        [ngClass]="{
                            'form-control-danger': signupForm.controls.email_init.invalid && signupForm.controls.email_init.dirty, 
                            'form-control-success': signupForm.controls.email_init.valid && signupForm.controls.email_init.dirty 
                        }">
                    </div>
                    <!-- <div class="alert" *ngIf="!signupForm.controls['email_init'].valid && signupForm.controls['email_init'].touched">invalid email</div> -->
                </div>
                <div class="form-group row" [ngClass]="{
                    'has-danger': signupForm.controls.username.invalid && signupForm.controls.username.dirty, 
                    'has-success': signupForm.controls.username.valid && signupForm.controls.username.dirty 
                }">
                    <label class="col-sm-2 form-control-label">User Name</label>
                    <div class="col-sm-10">
                    <input type="text"
                        class="form-control"
                        formControlName="username"
                        placeholder="User Name"
                        [ngClass]="{
                            'form-control-danger': signupForm.controls.username.invalid && signupForm.controls.username.dirty, 
                            'form-control-success': signupForm.controls.username.valid && signupForm.controls.username.dirty 
                    }">
                    </div>
                </div>
                <div class="form-group row" [ngClass]="{
                    'has-danger': signupForm.controls.password.invalid && signupForm.controls.password.dirty, 
                    'has-success': signupForm.controls.password.valid && signupForm.controls.password.dirty 
                }">
                    <label class="col-sm-2 form-control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password"
                            class="form-control"
                            formControlName="password"
                            placeholder="Password"
                            [ngClass]="{
                                'form-control-danger': signupForm.controls.password.invalid && signupForm.controls.password.dirty, 
                                'form-control-success': signupForm.controls.password.valid && signupForm.controls.password.dirty 
                        }">
                    </div>
                </div>
                <div class="form-group row">
                    <ng2-password-strength-bar class="form-control-label"
                        [passwordToCheck]="signupForm.controls.password.value"
                        [barLabel]="'Password strength:'">
                    </ng2-password-strength-bar>
                </div>
                <div class="form-group row">
                    <input type="submit"
                    class="btn btn-primary btn-lg btn-block"
                    (click)="doSignUp(signupForm.value)"
                    [disabled]="!signupForm.valid"
                    value="SignUp" />
                </div>
            </form>
        </div>
    </div>
</div>